<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Proyecto Final </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
      </head>
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
      <link rel="stylesheet" href="../style/estilos.css">
      <body>
      <div class="carousel">
        <div class="carousel__nav">
         <span id="moveLeft" class="carousel__arrow">
              <svg class="carousel__icon" width="24" height="24" viewBox="0 0 24 24">
          <path d="M20,11V13H8L13.5,18.5L12.08,19.92L4.16,12L12.08,4.08L13.5,5.5L8,11H20Z"></path>
      </svg>
          </span>
          <span id="moveRight" class="carousel__arrow" >
            <svg class="carousel__icon"  width="24" height="24" viewBox="0 0 24 24">
        <path d="M4,11V13H16L10.5,18.5L11.92,19.92L19.84,12L11.92,4.08L10.5,5.5L16,11H4Z"></path>
      </svg>    
          </span>
        </div>
        <div class="carousel-item carousel-item--1">
          <div class="carousel-item__image"></div>
          <div class="carousel-item__info">
            <div class="carousel-item__container">
            <h2 class="carousel-item__subtitle">OWSLA</h2>
            <h1 class="carousel-item__title">Skrillex</h1>
            <p class="carousel-item__description">Sello discografico.</p>
            <a href="#" class="carousel-item__btn">Explora</a>
              </div>
          </div>
        </div>
        <div class="carousel-item carousel-item--2">
          <div class="carousel-item__image"></div>
          <div class="carousel-item__info">
            <div class="carousel-item__container">
            <h2 class="carousel-item__subtitle">FOTO </h2>
            <h1 class="carousel-item__title">Marshmello</h1>
            <p class="carousel-item__description">Nuevas colaboraciones</p>
            <a href="#" class="carousel-item__btn">Info</a>
              </div>
          </div>
        </div>
          <div class="carousel-item carousel-item--3">
          <div class="carousel-item__image"></div>
          <div class="carousel-item__info">
            <div class="carousel-item__container">
            <h2 class="carousel-item__subtitle">Evento del Año </h2>
            <h1 class="carousel-item__title">Tomorrowland</h1>
            <p class="carousel-item__description">Eventpo de electronica mas grande del mundo .</p>
            <a href="#" class="carousel-item__btn">Ve sus transmiciones en YT</a>
              </div>
          </div>
        </div>
        
         <div class="carousel-item carousel-item--4">
          <div class="carousel-item__image"></div>
          <div class="carousel-item__info">
            <div class="carousel-item__container">
            <h2 class="carousel-item__subtitle">Cafeteria </h2>
            <h1 class="carousel-item__title">The coffee.</h1>
            <p class="carousel-item__description">Minimalista con toque autentico.</p>
            <a href="#" class="carousel-item__btn">Ve la ubicación</a>
              </div>
          </div>
        </div>
        
       <div class="carousel-item carousel-item--5">
          <div class="carousel-item__image"></div>
          <div class="carousel-item__info">
            <div class="carousel-item__container">
            <h2 class="carousel-item__subtitle">Instagrameable </h2>
            <h1 class="carousel-item__title">Combo perfecto</h1>
            <p class="carousel-item__description">Cafecito con pan.</p>
            <a href="#" class="carousel-item__btn">Realiza tus post</a>
              </div>
          </div>
        </div>
        
      </div>
      </body>
      <script src="../js/script.js"></script>
</html>